.games_library_wrapper{
    width: calc(100% - 300px);
}
.games_grid_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.games_div{
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 12px;
    padding: 15px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.games_div img{
    width: 70px;
    margin-bottom: 12px;
}
.games_div h5{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.games_div p{
    font-size: 0.95rem;
    text-align: center;
    color: rgba(55, 54, 54, 1);
}
.big_search_input{
    display: none;
}
.filter_head_wrapper{
    display: none;
}
@media(max-width:768px){

    .games_grid_wrapper{
        width: 100%;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr)) !important;
    }
    .games_library_wrapper{
        width: 100% !important;
    }
    .big_search_input{
        width: 100%;
        display: block;
        position: relative;
    }
    .big_search_input input{
        height: 50px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 10px;
        padding: 0 25px 0 40px;
        font-size: 1rem;
    }
    .big_search_input img{
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .filter_head_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .filter_head_wrapper span{
        color: rgba(0, 0, 0, 1);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .filter_head_wrapper p{
           color: rgba(0, 0, 0, 1);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .filter_head_wrapper i{
        color: rgba(0, 0, 128, 1);
    }
}
@media(max-width:480px){
      .games_grid_wrapper{
        gap: 15px !important;
        width: 100%;
    }
}
