.rythm_package_wrapper {
  padding: 50px 0;
}
.rythm_package_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rythm_spark_wrapper {
  display: grid;
  gap: 25px;
  width: 68%;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
}
.rythm_spark_wrapper .launch_pad {
  width: 100%;
  /* height: fit-content; */
}
.launch_pad ul li{
  font-size: 0.85rem;
}
.launch_pad h5{
  font-size: 1rem;
}
.launch_pad h2{
  letter-spacing: 0.1rem;
}
.rythm_package_wrapper .solutions_engage_world {
    height: 80dvh;
    max-height: 600px;
}
.launchpad_heading{
  height: 145px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
}
.coming_soon_modal_wrapper{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.313);
  z-index: 99;
}
.coming_soon_modal_div{
  width: 500px;
  background-color: #f5f5f5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  height: fit-content;

  border-radius: 15px;
  padding: 10px 20px;
}
.coming_soon_modal_div::-webkit-scrollbar{
  display: none;
}
.join_waitList_form_wrapper{
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.join_waitList_form_wrapper input{
  border-radius: 10px !important;
  background-color: transparent ;
}
.join_waitList_form_wrapper textarea{
   border-radius: 10px !important;
  background-color: transparent ;
  height: 100px !important;
}
.join_waitList_form_wrapper label{
  margin-left: 5px !important;
}
.launch_pad{
  transition: 0.2s linear all;
}
.launch_pad:hover{
  border: 1px solid #00007f;
}
.launchpad_heading h2{
  background-color: rgba(218, 228, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
}
.launch_pad h3{
  border-bottom: none;
  margin: 5px 0 !important;
  font-weight: 600 !important;
}
.ngage_pricing_wrapper .launch_pad h2{
  background-color: rgba(218, 228, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
}
.rythm_spark_wrapper .launch_pad h2{
  background-color: rgba(218, 228, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
}

.rythm_prices_wrapper .launch_pad {
  width: 100%;
}
.rythm_prices_wrapper {
  display: grid;
  gap: 25px;
  width: 68%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.rythm_package_prices_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 70px 0 0 0;
}
.rythm_package_prices_wrapper .solutions_engage_world {
    height: 98dvh;
    max-height: 680px;
}
@media (max-width: 1010px) {
  .rythm_spark_wrapper {
    display: grid;
    gap: 25px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .rythm_package_prices_wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .rythm_prices_wrapper {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .additional_players_para {
    display: none !important;
  }
  .coming_soon_modal_div{
    width: 90%;
  }
}
@media (max-width: 499px) {
  .rythm_steps_wrapper_container {
    padding: 20px 0 50px 0;
  }
  .rythm_package_wrapper {
    padding: 0 0 50px 0;
  }
  .rythm_package_wrapper .solutions_engage_world {
    height: 50vh;
  }
  .rythm_package_prices_wrapper .solutions_engage_world {
    height: 55vh;
  }
}
