.rythm_package_wrapper{
    padding: 50px 0;
}
.rythm_package_content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.rythm_spark_wrapper{
    display: grid;
    gap: 25px;
    width: 68%;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.rythm_spark_wrapper .launch_pad{
    width: 100%;
    height: fit-content;
}

.rythm_package_wrapper .solutions_engage_world{
    height: 400px;
}

.rythm_prices_wrapper .launch_pad{
    width: 100%;
}
.rythm_prices_wrapper{
     display: grid;
    gap: 25px;
    width: 68%;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.rythm_package_prices_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 70px 0 0 0;
}
.rythm_package_prices_wrapper .solutions_engage_world{
    height: 520px;
}