.games_layout_wrapper {
  padding: 70px  0 50px 0;
}
.games_layout_content_wrapper {
  display: flex;
  justify-content: space-between;
}
@media(max-width:768px){
  .games_layout_content_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}