.engage_rythm_wrapper {
  padding: 50px 0;
}
.engage_rythm_content_wrapper .heading {
  text-align: center;
  margin-bottom: 20px;
}
.engage_rythm_content_wrapper h3 {
  font-size: 1.1rem;
  text-align: center;
}
.engage_rythm_content_wrapper p {
  color: rgba(55, 54, 54, 1);
  text-align: center;
  font-size: 1rem;
  width: 1000px;
  margin-inline: auto;
  margin-top: 10px;
}
.engage_rythm_card {
  padding: 10px;
  border: 1px solid rgba(244, 244, 244, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 250px;
  min-width: 250px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s linear all;
}

.engage_rythm_card:first-child {
  z-index: 10;
  transform: rotate(3deg);
}
.engage_rythm_card:nth-child(2) {
  left: 9%;
  z-index: 9;
  transform: rotate(-3deg);
}
.engage_rythm_card:nth-child(3) {
  left: 18%;
  z-index: 8;
  transform: rotate(3deg);
}
.engage_rythm_card:nth-child(4) {
  left: 27%;
  z-index: 7;
  transform: rotate(-3deg);
}
.engage_rythm_card:nth-child(5) {
  left: 36%;
  z-index: 6;
  transform: rotate(3deg);
}
.engage_rythm_card:nth-child(6) {
  left: 45%;
  z-index: 5;
  transform: rotate(3deg);
}
.engage_rythm_card:nth-child(7) {
  left: 54%;
  z-index: 4;
  transform: rotate(-3deg);
}
.engage_rythm_card:nth-child(8) {
  left: 63%;
  z-index: 3;
  transform: rotate(3deg);
}
.engage_rythm_card:nth-child(9) {
  left: 72%;
  z-index: 2;
  transform: rotate(-3deg);
}
.engage_rythm_card:nth-child(10) {
  left: 81%;
  z-index: 1;
  transform: rotate(3deg);
}
.engage_rythm_card:hover {
  z-index: 999 !important;
  transform: rotate(0deg) !important;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.19);
}
.engage_rythm_img {
  width: 100%;
  position: relative;
  border-radius: 10px;
  height: 220px;
  overflow: hidden;
}
.engage_rythm_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.engage_rythm_cards_wrapper {
  display: flex;
  position: relative;
  min-height: 420px;
  width: 85%;
  margin-inline: auto;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}
.responsive_rythm_cards_wrapper{
   min-height: 420px;
   position: relative;
  width: 85%;
  margin-inline: auto;
  margin-top: 50px;
  /* margin-bottom: 50px; */
  display: none;
}
.engage_rythm_card h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 0;
}
.engage_rythm_card small {
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: rgba(55, 54, 54, 1);
}
.engage_rythm_img .number {
  width: 40px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 1199px) {
  .engage_rythm_card:nth-child(10) {
    left: 77%;
  }
  .engage_rythm_content_wrapper p {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .engage_rythm_card:nth-child(9) {
    left: 70%;
    z-index: 2;
    transform: rotate(-3deg);
  }
  .engage_rythm_card:nth-child(8) {
    left: 60%;
    z-index: 3;
    transform: rotate(3deg);
  }
  .engage_rythm_card:nth-child(7) {
    left: 47%;
    z-index: 4;
    transform: rotate(-3deg);
  }
  .engage_rythm_card:nth-child(6) {
    left: 38%;
    z-index: 5;
    transform: rotate(3deg);
  }
  .engage_rythm_card:nth-child(2) {
    left: 7%;
    z-index: 9;
    transform: rotate(-3deg);
  }
  .engage_rythm_card:nth-child(3) {
    left: 13%;
    z-index: 8;
    transform: rotate(3deg);
  }
  .engage_rythm_card:nth-child(4) {
    left: 23%;
    z-index: 7;
    transform: rotate(-3deg);
  }
  .engage_rythm_card:nth-child(5) {
    left: 30%;
    z-index: 6;
    transform: rotate(3deg);
  }
  .engage_rythm_card:nth-child(8) {
    left: 54%;
    z-index: 3;
    transform: rotate(3deg);
  }
  .engage_rythm_card:nth-child(9) {
    left: 63%;
    z-index: 2;
    transform: rotate(-3deg);
  }
  .engage_rythm_card:nth-child(10) {
    left: 69%;
  }
}

@media(max-width:999px){
  .responsive_rythm_cards_wrapper{
    display: block !important;
  }
  .engage_rythm_cards_wrapper{
    display: none;
  }
  .responsive_rythm_cards_wrapper .engage_rythm_card{
    position: static !important;
    left: 0 !important;
    z-index: 9 !important;
    transform: rotate(0deg) !important;
    width: 98% !important;
    min-width: 98% !important;
    margin-bottom: 20px;
  }
}