.measure_engagement_wrapper {
  padding: 50px 0;
}
.measure_engagement_content_wrapper {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  position: relative;
  min-height: 80vh;
  margin-inline: auto;
  border-radius: 15px;
  padding: 30px 0;
  align-items: center;
}
.measure_engagement_content ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 10px 0;
}
.measure_engagement_content ul li {
  margin-left: 45px;
}

.measure_engagement_img {
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.measure_engagement_img img {
  width: 100%;
  height: 107%;
}

.measure_engagement_content {
  width: 45%;
}

.content_wrapper5656 {
  background-image: url("../../../assets/77646074_SL-072622-51930-24 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
.measure_engagement_content h1 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 3.5rem;
  padding-left: 30px;
}
.measure_engagement_content p {
  color: rgba(55, 54, 54, 1);
  font-size: 1rem;
  padding-left: 30px;
}
.measure_engagement_content span {
  font-weight: 700;
  padding-left: 30px;
}
.measure_box_div_wrapper {
  display: flex;
  gap: 15px;
}
.measure_box_div {
  width: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}
.measure_box_div h3 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}
.ellipse_img {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ellipse_img h2 {
  font-size: 1.2rem;
}
.measure_box_div h4 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}
.ellipse_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 999px) {
  .measure_engagement_content_wrapper {
    flex-direction: column;
  }
  .measure_engagement_content {
    padding: 0 20px;
  }
  .measure_engagement_content h1 {
    padding-left: 0px;
  }
  .measure_engagement_content p {
    padding-left: 0px;
  }
  .measure_engagement_content span {
    padding-left: 0px;
  }
  .content_wrapper5656 {
    padding: 0;
  }
  .measure_engagement_img {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .measure_engagement_img img {
    height: 100%;
  }
  .measure_engagement_content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .measure_box_div_wrapper {
    flex-wrap: wrap;
  }
  .measure_engagement_content h1 {
    font-size: 2rem !important;
    font-weight: 700;
    line-height: 2.5rem;
  }
}
