.home_banner_wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  z-index: 8;
}
.banner_overlay_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 1;
}
.home_banner_content_wrapper {
  z-index: 99;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 950px;
  margin-top: 120px;
}
.home_banner_content_wrapper h1 {
  font-size: 4.8rem;
  color: #fff;
  text-align: center;
  line-height: 5.7rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}
.home_banner_content_wrapper h1 span {
  color: rgba(246, 149, 0, 1);
}
.home_banner_content_wrapper p {
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  width: 700px;
}
.home_banner_btn_wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.base_btn_design {
  padding: 7px 10px 7px 15px;
  border-radius: 50px;
  font-size: 0.9rem;
  color: rgba(0, 0, 128, 1);
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: none;
}
.home_banner_btn_wrapper button:nth-child(1) {
    background-color: #fff;
}

.home_banner_btn_wrapper button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
