.banner_layout_wrapper{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.banner_layout_wrapper h1{
    font-size: 3.7rem;
    color: #fff;
    letter-spacing: 0.35rem;
    width: 1100px;
    text-align: center;
}

@media(max-width:1199px){
    .banner_layout_wrapper h1{
        width: 85%;
        font-size: 3rem;
    }
}
@media(max-width:576px){
    .banner_layout_wrapper h1{
        width: 90%;
    }
}