.build_engagement_wrapper {
  margin: 50px 0 70px 0;
}
.build_engagement_content {
  width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
.build_engagement_content h1 {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 700;
  line-height: 3.5rem;
}
.build_engagement_content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 15px;
}
.build_engagement_btn_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 25px;
}
.build_engagement_btn_wrapper .white_btn {
  border: none;
  background-color: #fff;
}
.build_engagement_btn_wrapper .transparent_btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.build_engagement_content p{
    color: #fff;
    font-size: 1.15rem;
    line-height: 2.5rem;
    width: 450px;
}