.testimonial_wrapper{
    padding: 70px 0 0 0;
}
.testimonial_wrapper h1{
    text-align: center;
}
.testimonial_cards_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.testimonial_card{
    width: 31%;
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    box-shadow: 0px 4px 30px 0px rgba(203, 203, 203, 0.47);
    border-radius: 15px;
    position: relative;
}
.client_logo{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    
}
.client_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.star_img{
    display: block;
    margin-left: auto;
    width: 100px;
}
.testimonial_card p{
    font-size: 1rem;
    color: rgba(55, 54, 54, 1);
    margin-bottom: 20px;
    margin-top: 30px;
}
.testimonial_card h6{
    font-size: 0.9rem;
    margin-bottom: 0px;
}
.testimonial_card small{
     font-size: 0.7rem;
    color: rgba(55, 54, 54, 1);
    display: block;
    margin-top: 0px;
}