.engage_works_wrapper {
  padding: 50px 0 20px 0;
  margin-bottom: 30px;
  background-image: url("../../../assets/18880200_v882-kul-41 (1) 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.engage_works_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.engage_works_img_wrapper {
  width: 55%;
}
.engage_works_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.engage_works_content {
  width: 42%;
}
.engage_works_content h1 {
  margin-bottom: 20px;
}
.engage_works_content p {
  color: rgba(55, 54, 54, 1);
  font-size: 1rem;
  margin-bottom: 20px;
}
