.team_participate_Wrappper {
  padding: 40px 0 50px 0;
}
.team_participate_content_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team_participate_img {
    width: 48%;
    height: 70dvh;
    max-height: 540px;
    border-radius: 10px;
    overflow: hidden;
}
.team_participate_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team_participate_content {
  width: 48%;
}
.team_participate_content p {
  font-size: 1rem;
  color: rgba(55, 54, 54, 1);
}
.team_participate_content ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
.team_participate_content ul li {
  font-size: 1rem;
  color: rgba(55, 54, 54, 1);
  margin-left: 5px;
}
@media (max-width: 850px) {
  .team_participate_content_Wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .team_participate_img {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .team_participate_content {
    width: 100%;
  }
}

@media(max-width:600px){
  .team_participate_img{
    height: 50vh;
    max-height: 50vh;
  }
}
@media(max-width:499px){
  .team_participate_img{
    height: auto;
    max-height: auto;
  }
  .team_participate_Wrappper {
    padding: 20px 0 10px 0;
  }
}