.build_once_wrapper .heading {
  text-align: center;
}
.build_once_wrapper {
  padding: 50px 0 30px 0;
}
.build_once_content_wrapper {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 35px; */
  margin-top:20px;
}
.build_step {
  border: 1px solid rgba(189, 189, 189, 1);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s linear all;
  margin: 25px 0;
  width: 95% !important;
}
.build_step:hover {
  border: 1px solid rgba(1, 130, 252, 1);
  background-color: #fff;
}
.build_step:hover h2{
  background-color: rgba(1, 130, 252, 1);
  color: #fff;
}
.build_once_content_wrapper h2 {
  width: fit-content;
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 20px;
  background-color: rgba(189, 189, 189, 1);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.3s linear all;
}

.build_once_content_wrapper h4 {
  font-size: 1.2rem;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}
.build_once_content_wrapper p {
  font-size: 0.9rem;
  margin-top: 5px;
  color: rgba(55, 54, 54, 1);
  text-align: center;
}
.build_once_content_wrapper p span {
  font-weight: 700;
}

@media(max-width:570px){
  .build_once_wrapper{
    padding: 50px 0 0 0;
  }
  .build_step{
    height: 200px;
  }
  .build_once_content_wrapper p{
    display: -webkit-box;          /* enables the clamp */
  -webkit-box-orient: vertical;  /* vertical text flow */
  -webkit-line-clamp: 3;         /* number of lines to show */
  overflow: hidden;    
  }
}