.team_building_head h4 {
  font-size: 1.7rem;
  font-weight: 500;
}
.team_building_head p {
  color: rgba(55, 54, 54, 1);
}
.team_building_head {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.mintue_team_building_wrapper {
  padding: 50px 0;
}
.mintue_team_building_wrapper .solutions_engage_world {
  height: 600px;
}

@media (max-width: 600px) {
  .mintue_team_building_wrapper .solutions_engage_world {
    height: 55vh;
  }
}
