.team_building_head h4 {
  font-size: 1.7rem;
  font-weight: 500;
}
.team_building_head p {
  color: rgba(55, 54, 54, 1);
}
.team_building_head {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.mintue_team_building_wrapper {
  padding: 0px 0 50px 0;
}
.mintue_team_building_wrapper .rythm_package_prices_wrapper{
  padding: 40px 0 0 0;
}
.mintue_team_building_wrapper .solutions_engage_world {
    height: 107dvh;
    max-height: 660px;
}
@media (max-width: 600px) {
  .mintue_team_building_wrapper .solutions_engage_world {
    height: 55vh;
  }
}
