.engage_world_wrapper {
  padding: 70px 0;
  background: url("../../../assets/image 218.png");
  background-size: contain;
}
.engage_world_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.engage_world_content {
  width: 56%;
}
.engage_world_content_wrapper img {
  width: 40%;
  border-radius: 10px;
}
.engage_world_content h1 {
  margin-bottom: 20px;
  line-height: 3.5rem;
}
.engage_world_content p {
  font-size: 1rem;
  color: rgba(55, 54, 54, 1);
}
.engage_world_content ul li {
  margin-left: 15px;
  color: rgba(55, 54, 54, 1);
}
.world_solutions_wrapper {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.solutions_engage_world {
  width: 30%;
  position: relative;
  height: 530px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.solutions_engage_world img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  object-fit: cover;
}
.solutions_engage_world h1 {
  color: #fff;
  z-index: 9;
  font-size: 2.5rem;
  line-height: 2.9rem;
}
.soultions_launch_pad_wrapper {
  display: flex;
  gap: 25px;
  width: 67%;
}
.launch_pad {
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 15px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  width: 32%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.launch_pad h2 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0px;
}
.launch_pad h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.launch_pad h5 {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
.launch_pad ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.launch_pad ul li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: rgba(52, 52, 52, 1);
  font-size: 0.7rem;
}

.launch_pad .base_btn_design {
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid #000;
  color: rgba(0, 0, 128, 1);
  padding: 8px 15px 8px 15px;
  width: fit-content;
}
.engamenet_report_Wrapper {
  padding: 50px 0;
  position: relative;
}
.engamen_report_wrapper img {
  height: 70vh;
  object-fit: cover;
}
@media (max-width: 1010px) {
  .solutions_engage_world {
    width: 100%;
  }
  .world_solutions_wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .soultions_launch_pad_wrapper {
    display: flex;
    gap: 25px;
    width: 100%;
  }
}
@media (max-width: 850px) {
  .soultions_launch_pad_wrapper {
    flex-wrap: wrap;
  }
  .launch_pad {
    width: 47%;
  }
}
@media (max-width: 576px) {
  .launch_pad ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: rgba(52, 52, 52, 1);
    font-size: 0.9rem;
  }
}
@media (max-width: 499px) {
  .world_solutions_wrapper {
    padding: 40px 0 0 0;
  }
  .launch_pad {
    width: 100%;
  }
}
