.build_culture_wrapper {
  padding: 70px 0 50px 0;
  position: relative;
  background-image: url("../../../assets/image 218.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.build_culture_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.build_culture_img {
  width: 48%;
  max-height: 75vh;
  border-radius: 15px;
  overflow: hidden;
}
.build_culture_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.build_culture_content {
  width: 48%;
}
.build_culture_content p {
  color: rgba(55, 54, 54, 1);
  font-size: 1rem;
  margin-bottom: 10px;
}
.build_culture_content p span {
  font-weight: 700;
}
.build_culture_content ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.build_culture_content ul li {
  color: rgba(55, 54, 54, 1);
  font-size: 1rem;
  margin-left: 20px;
}
.build_culture_content .heading {
  line-height: 3.8rem;
  margin-bottom: 20px;
}
