.why_engage_wrapper{
    padding: 50px 0 0 0;
    background-image: url('../../../assets/ann-arbor-transparent-layers-gradient-landmarks-skyline 1.png');
    background-size: cover;
}
.why_engage_content_wrapper h1{
    text-align: center;
}
.why_engage_app_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.why_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.why_engage_app_wrapper img{
    width: 40%;
}
.why_1{
    border: 1px solid rgba(248, 248, 248, 1);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.why_1 p{
    color: rgba(55, 54, 54, 1);
    font-size: 0.9rem;
    margin-top: 10px;
}
.why_1 h4{
    font-size: 1rem;
    font-weight: 600;
}