.problem_statement_wrapper {
  padding: 50px 0;
}
.problem_statement_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.after_img_div {
  width: 40%;
  height: 78vh;
}
.after_img_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.statement_problem_div{
    width: 56%;
}
.statement_problem_div h1{
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
}

.statement_problem_div h3{
    font-size: 1.95rem;
    line-height: 2.5rem;
    margin: 20px 0;
}
.statement_problem_div p{
    font-size: 1rem;
    color: rgba(55, 54, 54, 1);
}
.statement_problem_div li{
      font-size: 1rem;
    color: rgba(55, 54, 54, 1);
    margin-left: 20px;
}
