.faq__container{
    padding: 70px 0 50px 0;
}

.faq_content_Wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.faq_content{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.faq_questions_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.faq_questions{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.071);
}
.faq_questions__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.faq_questions__head h4{
    font-weight: 500;
    font-size: 1.1rem;
}
.faq_questions__head i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgba(0, 0, 128, 1);
}
.faq_answers_content{
    padding-top: 10px;
    border-top: 1px solid rgba(225, 225, 225, 1);
}
.faq_answers_content p{
    font-size: 0.95rem;
    color: rgba(55, 54, 54, 1);
    white-space: pre-wrap;
}
.faq_content h1{
    font-size: 2.5rem;
}