.trusted_teams_wrapper {
  padding: 50px 0;
}
.trusted_teams_content_wrapper h1 {
  text-align: center;
  margin-bottom: 30px;
}
.trusted_teams_slider_wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin-top: 40px;
}
.trusted_teams_slider_wrapper img {
  width: 95% !important;
  height: 100px;
  min-width: 100px !important;
  object-fit: contain;
}
