.rythm_steps_wrapper_container {
  padding: 50px 0;
}
.rythm_steps_content_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rythm_img_wrapper {
  width: 48%;
  height: 53dvh;
  max-height: 477px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}
.rythm_img_wrapper h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  z-index: 9;
  line-height: 3.2rem;
  font-weight: 700;
}
.rythm_img_wrapper h4 {
  color: #fff;
  z-index: 9;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: -10px;
}
.rythm_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.rythm_steps_wrapper {
  width: 24%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.rythm_step {
  width: 100%;
  background-color: rgba(181, 201, 255, 0.18);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 25px 40px;
}
.rythm_step img {
  width: 30px;
}
.rythm_step p {
  color: rgba(55, 54, 54, 1);
  font-size: 1.1rem;
}
@media (max-width: 1150px) {
  .rythm_steps_content_wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .rythm_steps_wrapper {
    width: 100%;
  }
  .rythm_img_wrapper {
    width: 100%;
    min-height: 70vh;
  }
}
@media(max-width:499px){
  .rythm_img_wrapper h1{
    font-size: 2.2rem;
  }
}