*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3';
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-left: 0px;
}
p{
    margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-left: 0px;
}