* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
}
body{
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-left: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-left: 0px;
}

button{
  cursor: pointer;
}

.container {
  width: 85%;
  min-width: 85%;
  margin-inline: auto;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
}

@media(max-width:576px){
  .container{
    width: 90%;
    min-width: 90%;
  }
  .heading{
    font-size: 2rem;
    line-height: normal !important;
  }
  html{
    font-size: 15px;
  }
}