.contact_wrapper {
  padding: 70px 0 50px 0;
}
.contact_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_form_left {
  width: 42%;
  padding: 40px 25px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 15px;
}
.contact_form_left .base_btn_design{
    border: 1px solid rgba(0, 0, 128, 1);
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.contact_form_left p {
  margin-top: 5px;
  color: rgba(55, 54, 54, 1);
  font-size: 0.95rem;
}
.contact_form_left h1{
    font-size: 2.5rem;
}
.contact_form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.input_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.input_div label {
  color: rgba(55, 54, 54, 1);
  font-size: 0.95rem;
}
.input_div label span {
  color: red;
}
.input_div input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 30px;
  font-size: 0.95rem;
  color: rgba(55, 54, 54, 1);
}
.input_div_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.input_div textarea {
  height: 140px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  color: rgba(55, 54, 54, 1);
  resize: none;
}

.contact_right{
    width: 54%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 30px;
}

.contact_right .contact_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact_right_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 25px;
    width: 100%;
}
.contact__box{
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 20px 10px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(18px);
    background-color: rgba(0,0,0,0.3);
}
.contact__box h4{
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 1.1rem;
}
.contact__box p{
    color: rgba(217, 217, 217, 1);
    text-align: center;
    font-size: 0.8rem;
    margin-top: -10px;
    font-weight: 400;
}
.contact__box img{
    width: 35px;
}
@media(max-width:999px){
  .contact_content_wrapper{
    flex-direction: column;
    row-gap: 40px;
  }
  .contact_form_left{
    width: 100%;
  }
  .contact_right{
    width: 100%;
  }
  .input_div_grid_wrapper{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }
  .contact_right_grid{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media(max-width:480px){
  .contact_right{
    height: 100vh;
  }
}