.navbar_wrapper {
  width: 880px;
  position: absolute;
  top: 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 10px 20px;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 31, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_links_wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.navbar_links_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.navbar_links_wrapper button {
  padding: 7px 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.33);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.navbar_links_wrapper button span{
    padding: 2px 8px;
    background-color: #fff;
    color: rgba(0, 0, 128, 1);
    font-size: 0.8rem;
    border-radius: 20px;
}