.help_new_hires_wrapper{
    padding: 70px 0 0 0;
    position: relative;
}
.help_new_hires_content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.help_new_hires_content{
    width: 48%;
}
.help_new_hires_img{
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
}
.help_new_hires_img img{
    width: 100%;
    height: 100%;
        border-radius: 10px;
    object-fit: cover;
}
.help_new_hires_content p{
    font-size: 1rem;
    color: rgba(55, 54, 54, 1);
}
.help_new_hires_content ul li{
    color: rgba(55, 54, 54, 1);
    font-size: 1rem;
    margin-left: 20px;
}
.help_new_hires_content ul{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.build_once_wrapper{
    overflow: hidden;
}
@media(max-width:850px){
    .help_new_hires_content_wrapper{
        flex-direction: column;
        row-gap: 40px;
    }
    .help_new_hires_content{
        width: 100%;
    }
    .help_new_hires_img{
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:576px){
     .help_new_hires_img{
        width: 100%;
        height: auto;
    }
    .help_new_hires_wrapper{
        padding: 40px 0 0 0;
    }
    .build_once_content_wrapper h2{
        font-size: 0.8rem !important;
    }
}